.d-centroid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sf-password {
  -webkit-text-security: disc;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  cursor: auto;
}

.sf-control-btn {
  width: 30px;
  cursor: pointer;
}

.sf-loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sf-dashboard-menu-item {
  display: flex;
  flex-basis: 200px;
  padding: 2em;
  flex-direction: column;
  align-items: center;
}
