<div id="main">


    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Quản lý Rule</h3>
                    <p class="text-subtitle text-muted">Rule Manager</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý Rule</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>


        <section class="section">
            <div class="card">
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin rule</h3>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" id="rendering-form">
                                    <div class="form-body">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <label>id</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input readonly="readonly" type="number" class="form-control"
                                                            id="input-rendering_id" name="rendering_id">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>user</label>
                                            </div>
                                            

                                            <div class="form-group col-md-8">
                                                <select class="choices form-select">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>


                                            <div class="col-md-4">
                                                <label>start_at</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control" type="time" id="input-start_at"
                                                            name="start_at">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>end_at</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input class="form-control" type="time" id="input-end_at"
                                                        name="end_at">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>start_date</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control" type="date" id="input-start_date"
                                                            name="start_date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>end_date</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control" type="date" id="input-end_date"
                                                            name="end_date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>export_video</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="input-export_video" name="export_video">
                                                            <label class="form-check-label"
                                                                for="input-export_video"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>push_counted_data</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="input-counter" name="counted" checked>
                                                            <label class="form-check-label" for="input-counter"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>active</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="input-active" name="active">
                                                            <label class="form-check-label" for="input-active"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-between">
                                                <div>
                                                    <button id="btn-submit" onclick="pustRendering()" type="button"
                                                        class="btn btn-primary me-1 mb-1">Thêm
                                                        mới</button>
                                                    <button type="reset" onclick="resetForm()"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        

        <section class="section">
            <div class="card">
                <div class="card-header">
                    Danh sách rule
                </div>

                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Tuổi</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody id="account-list">
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>