<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% switch (page) { case 'account' : %> Quản lý tài khoản <% break; case 'rule' : %> Quản lý Rule <% break;
                    default: break; } %>
    </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/vendors/simple-datatables/style.css">
    <link rel="stylesheet" href="/public/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/public/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/vendors/choices.js/choices.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/my.css">
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">

    <script src="/public/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- <script src="/public/js/bootstrap.bundle.min.js"></script> -->
    <script src="/public/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/vendors/choices.js/choices.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script async>
        if (!localStorage.getItem("jwt") && (window.location.pathname !== "/account/login")) {
            window.location.href = "/account/login";
            console.log('not login')
        }
    </script>
    
    <script src="/public/js/main.js"></script>
    <script src="/public/js/my.js"></script>
</head>

<body>

    <!-- loading layer -->
    <div id="loading" class="d-none">
        <div class="d-flex justify-content-center align-items-center min-vh-100 min-vw-100 position-absolute bg-white"
            style="z-index: 10;">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>


    <div id="app" class="">
        <% if (page !=='login' ) { %>
            <%- include(`components/sidebar.ejs`) %>
        <% } %>

        <%- include(`pages/${page}.ejs`) %>
    </div>
</body>

</html>