<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="/public/images/logo/logo.png" class="w-100 h-100" alt="Logo"
                            srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item  ">
                    <a href="index.html" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item <%= page==='sensor'?'active':'' %>">
                    <a href="/sensor/all" class='sidebar-link'>
                        <i class="bi bi-book"></i>
                        <span>Quản lý Cảm biển</span>
                    </a>
                </li>
                <li class="sidebar-item <%= page==='rule'?'active':'' %>">
                    <a href="/rule/all" class='sidebar-link'>
                        <i class="bi bi-book"></i>
                        <span>Quản lý Rule</span>
                    </a>
                </li>
                <li class="sidebar-item <%= page==='farm'?'active':'' %>">
                    <a href="/farm/all" class='sidebar-link'>
                        <i class="bi bi-book"></i>
                        <span>Quản lý Nông trại</span>
                    </a>
                </li>
                <li class="sidebar-item <%= page==='account'?'active':'' %>">
                    <a href="/account/all" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Quản lý tài khoản</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="/account/login" class='sidebar-link'>
                        <i class="bi bi-arrow-right-square"></i>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>